#orderContainer {
  font-family: "Jost", sans-serif;
  padding-top: 250px;
  padding-bottom: 150px;

  /* margin: auto; */
  /* text-align: center; */
  /* width: 80%; */
}
#orderContainer i {
  color: rgb(5, 187, 5);
  font-size: 10em;
  /* padding-bottom: 30px; */
}
#aboutCheck p {
  letter-spacing: 1px;
  /* font-weight: 100; */
}
#aboutCheck h1 {
  letter-spacing: 1px;
  word-spacing: 1px;
}

/* ----------------------------- MEDIA QUERY --------------------------- */

@media (max-width: 700px) {
  #orderContainer i {
    font-size: 8em;
    padding-bottom: 30px;
  }
  h1 {
    font-size: 18px;
  }
  p {
    font-size: 15px;
  }
}
